<!DOCTYPE html>
<html class="h-100" lang="pl">
<head th:replace="~{fragments::head}"></head>
<body class="h-100">
<main class="flex-shrink-0">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to Bankersi2k24</h1>
        <p class="lead">Leader in the worldwide banking industry! <br/>
            Nice to see you, please log into your account and let us get you rolling.</p>
    </div>
</div>
<form class="container" action="/auth" method="post">
    <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-3">
            <input type="text" class="form-control" id="username" name="username" >
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-3">
            <input type="password" class="form-control" id="password" name="password" >
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
    <footer th:replace="~{fragments::footer}"></footer>
</main>
</body>
</html>
