<div class="container">
    <p><h1>Transactions list:</h1></p>
    <table class="table table-striped tfixed mt-5">
        <thead>
        <tr>
            <th>Date submitted</th>
            <th>From</th>
            <th>Destination</th>
            <th>Ammount</th>
            <th>Title</th>
            <th>Is Complete</th>
            <th>Tracking number</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="transaction : ${transactionList}" >
            <td th:text="*{#temporals.format(transaction.transactionDate, 'dd-MM-yyyy HH:mm')} ?: 'not set yet'"></td>
            <td th:text="*{transaction.senderAccountNumber.toString()}"></td>
            <td th:text="*{transaction.destinationAccountNumber}"></td>
            <td th:text="*{transaction.quota}"></td>
            <td th:text="*{transaction.transactionTitle}"></td>
            <td th:text="*{transaction.isComplete}"></td>
            <td th:text="*{transaction.trackingNumber}"></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/tasks/edit}" class="btn btn-primary">Add new task</a>
</div>
